@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.getJSON("/api/Movie/").fail(function () { alert("Can not get data!"); }).done(function (data) {
            $.each(data, function (key, item) {
                $(".table").append("<tr class='ajaxdata'><td>" + item.Title + "</td><td>" + item.ReleaseDate + "</td><td>" + item.RunningTime + "</td><td>" + item.BoxOffice + "</td><td></td></tr>");
            });
        });

        $("#btnSearch").click(function () {
            $.getJSON("/api/Movie/" + $("#searchText").val()).fail(function () { alert("Can not get data!"); }).done(function (data) {
                $(".ajaxdata").remove();
                $.each(data, function (key, item) {
                    $(".table").append("<tr class='ajaxdata'><td>" + item.Title + "</td><td>" + item.ReleaseDate + "</td><td>" + item.RunningTime + "</td><td>" + item.BoxOffice + "</td><td></td></tr>");
                });
            });
        });

        $("#btnReset").click(function () {
            $.getJSON("/api/Movie/").fail(function () { alert("Can not get data!"); }).done(function (data) {
                $(".ajaxdata").remove();
                $.each(data, function (key, item) {
                    $(".table").append("<tr class='ajaxdata'><td>" + item.Title + "</td><td>" + item.ReleaseDate + "</td><td>" + item.RunningTime + "</td><td>" + item.BoxOffice + "</td><td></td></tr>");
                });
            });
        });
    });

</script>
<div><input type="text" id="searchText" /><input type="button" id="btnSearch" value="Search" /><input type="button" value="Reset" id="btnReset" /></div>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            ReleaseDate
        </th>
        <th>
            RunningTime
        </th>
        <th>
            BoxOffice
        </th>
        <th></th>
    </tr>


</table>
